.assets {


  .assetsContainer {
    margin: 0 auto;
    max-width: 1450px;

    .root {
      border-right: 1px solid rgba(161, 159, 159, 0.5);
      border-left: 1px solid rgba(161, 159, 159, 0.5);

      .changePercent24Hr {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

      }

      .changePercent24HrUp {
        margin: 0;
        align-self: flex-end;
        padding-left: 5px;
        color: green;

      }

      .changePercent24HrDown {
        margin: 0;
        align-self: flex-end;
        color: red;
      }
    }

    .nameHeadCoin {
      max-width: 150px;
    }

    .nameImgBlockCoin {
      display: flex;
      justify-content: left;
      align-items: center;

      .nameCoin {
        width: 140px;
        word-break: break-word;
      }

      .imgCoin {
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }
    }

    .buttonAddCoins {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border: 1px solid rgba(159, 152, 152, 0.62);
      border-radius: 50%;
      text-align: center;

      .textButtonAdd {
        margin: 0 auto;
        font-size: 32px;
      transform: translateY(-2px);
        font-weight: 700;
      }
    }

    .buttonViewMore {
      display: block;
      margin: 10px auto;
      background-color: rgba(26, 26, 26, 0.26);
      color: #181818;
      border-radius: 30px;

      &:hover {
        box-shadow: #1a1a1a 0 0 3px;

      }
    }
  }
}