.table {
  margin: 0 auto;
  border-collapse: unset;
  border-spacing: 0;
  width: 100%;


  .head {
    background-color: #d5d5d5;
    min-height: 75px;
    color: #646cff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .cell {
    padding: 0 15px;
    text-align: center;
    font-weight: 500;
    height: 75px;

    border-bottom: 1px solid rgba(161, 159, 159, 0.7);
    border-right: 1px solid rgba(161, 159, 159, 0.1);
  }

}
